# Docker registry to pull images
global:
  registry:
  registrySecret:

image:
  tag: green
  pullPolicy: Always

securityContext:
  enable:
  runAsNonRoot:
  runAsUser:

# Image pull settings
operator:
  image:
    name: csi-baremetal-operator
    tag:
    pullPolicy:

  resources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 20Mi

preUpgradeCRDsHooks:
  image:
    name: csi-baremetal-pre-upgrade-crds
    tag:
    pullPolicy:

  resources:
    limits:
      cpu: 100m
      memory: 200Mi
    requests:
      cpu: 100m
      memory: 20Mi

  podAnnotations: {}

log:
  level: info
