# Docker registry to pull images
global:
  registry:

# Image pull settings
image:
  # TODO refactor after csi-baremetal-operator renaming https://github.com/dell/csi-baremetal/issues/341
  name: csi-baremetal-operator
  tag: latest
  pullPolicy: IfNotPresent
