apiVersion: v1
kind: ServiceAccount
metadata:
  name: csi-baremetal-operator-sa
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: csi-baremetal-operator-cr
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - configmaps/status
  - events
  - nodes
  verbs:
  - "*"
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - "*"
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  verbs:
  - "*"
- apiGroups:
  - csi-baremetal.dell.com
  resources:
  - "*"
  verbs:
  - "*"
{{- if eq .Values.platform "openshift" }}
- apiGroups:
  - config.openshift.io
  resources:
  - schedulers
  verbs:
  - "*"
{{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: csi-baremetal-operator-rb
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: csi-baremetal-operator-cr
subjects:
- kind: ServiceAccount
  name: csi-baremetal-operator-sa
  namespace: {{ .Release.Namespace }}
