apiVersion: csi-baremetal.dell.com/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: csi-baremetal
    app.kubernetes.io/managed-by: csi-baremetal-operator
    app.kubernetes.io/version: 1.0.0
spec:
  platform: {{ .Values.platform }}
  globalRegistry: {{ .Values.global.registry }}
  registrySecret: {{ .Values.global.registrySecret }}
  pullPolicy: {{ .Values.image.pullPolicy }}
  nodeIDAnnotation: {{ .Values.feature.usenodeannotation }}
  {{- if and (.Values.nodeSelector.key) (.Values.nodeSelector.value)}}
  nodeSelector:
    key: {{.Values.nodeSelector.key}}
    value: {{.Values.nodeSelector.value}}
  {{- end }}
  sequentialLVGReservation: {{ .Values.feature.sequentialLVGReservation }}
  driver:
    controller:
      image:
        name: csi-baremetal-controller
        tag: {{ .Values.driver.controller.image.tag | default .Values.image.tag }}
      log:
        format: {{ .Values.driver.log.format }}
        level: {{ .Values.driver.log.level }}
      sidecars:
       livenessprobe:
          image:
            name: livenessprobe
            tag: {{ .Values.driver.livenessProbe.image.tag }}
       csi-provisioner:
          image:
            name: csi-provisioner
            tag: {{ .Values.driver.provisioner.image.tag }}
       csi-resizer:
          image:
            name: csi-resizer
            tag: {{ .Values.driver.resizer.image.tag }}
    node:
      driveMgr:
        image:
          name: csi-baremetal-{{ .Values.driver.drivemgr.type }}
          tag: {{ .Values.driver.drivemgr.image.tag | default .Values.image.tag }}
        endpoint: {{ .Values.driver.drivemgr.grpc.server.endpoint }}
      image:
        name: csi-baremetal-node
        tag: {{ .Values.driver.node.image.tag | default .Values.image.tag }}
      log:
        format: {{ .Values.driver.log.format }}
        level: {{ .Values.driver.log.level }}
      sidecars:
        csi-node-driver-registrar:
          image:
            name: csi-node-driver-registrar
            tag: {{ .Values.driver.nodeDriverRegistrar.image.tag }}
        livenessprobe:
          image:
            name: livenessprobe
            tag: {{ .Values.driver.livenessProbe.image.tag }}
    metrics:
      path: {{ .Values.driver.metrics.path }}
      port: {{ .Values.driver.metrics.port }}
    logReceiver:
      name: fluent-bit
      image:
        name: {{ .Values.driver.logReceiver.fluentbitAgent.image.name | default "fluent-bit" }}
        tag: {{ .Values.driver.logReceiver.fluentbitAgent.image.tag | default "shippable" }}
  scheduler:
    enable: {{ .Values.scheduler.enable }}
    image:
      name: csi-baremetal-scheduler-extender
      tag: {{ .Values.scheduler.image.tag | default .Values.image.tag }}
    log:
      format: {{ .Values.scheduler.log.format }}
      level: {{ .Values.scheduler.log.level }}
    metrics:
      path: {{ .Values.scheduler.metrics.path }}
      port: {{ .Values.scheduler.metrics.port }}
    extenderPort: {{ .Values.scheduler.extender.port | quote }}
    patcher:
      enable: {{ .Values.scheduler.patcher.enable }}
      image:
        name: csi-baremetal-scheduler-patcher
        tag: {{ .Values.scheduler.patcher.image.tag | default .Values.image.tag }}
      interval: {{ .Values.scheduler.patcher.interval }}
      restoreOnShutdown: {{ .Values.scheduler.patcher.restore_on_shutdown }}
      configMapName: {{ .Values.scheduler.patcher.config_map_name }}
      readinessTimeout: {{ .Values.scheduler.patcher.readinessTimeout }}
    storageProvisioner: {{ .Values.scheduler.provisioner }}
  nodeController:
    enable: {{ .Values.nodeController.enable }}
    image:
      name: csi-baremetal-node-controller
      tag: {{ .Values.nodeController.image.tag | default .Values.image.tag }}
    log:
      format: {{ .Values.nodeController.log.format }}
      level: {{ .Values.nodeController.log.level }}
