---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-pre-delete-script"
  namespace: {{ .Release.Namespace }}
  annotations:
      "helm.sh/hook": pre-delete
      "helm.sh/hook-weight": "-2"
      "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
  pre-delete.sh: |
    #!/bin/sh
    set -e
    kubectl delete csv -n {{ .Release.Namespace }} --all


---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}-pre-delete-hook"
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "-1"
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    metadata:
      name: "{{ .Release.Name }}-post-install-hook"
      labels:
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    spec:
      restartPolicy: Never
      serviceAccountName: {{ include "secondaryscheduleroperator.serviceAccountName" . }}
      containers:
        - name: pre-delete-job
          image: "{{ .Values.global.registry }}/{{ .Values.helmHooks.repository }}:{{ .Values.helmHooks.version }}"
          command:
           - /scripts/pre-delete.sh
          volumeMounts:
            - name: sh
              mountPath: /scripts
              readOnly: true
      volumes:
        - name: sh
          configMap:
            name: "{{ .Release.Name }}-pre-delete-script"
            defaultMode: 0555
