# Docker registry to pull images
global:
  registry:

# Image pull settings
image:
  tag: green
  pullPolicy: Always

env:
  test: false

# Storage Class name that provisions PVs dynamically
storageClass:
  name: csi-baremetal-sc

# Feature settings
feature:
  extender: true
  usenodeannotation: true
  useexternalannotation: false
  nodeIDAnnotation:

# to deploy on specific nodes kubeclt get nodes -l <key>=<value>
nodeSelector:
  key:
  value:

# CSI Driver parameters
driver:

  controller:
    image:
      name:
      tag:

  node:
    image:
      name:
      tag:

  drivemgr:
    image:
      name:
      tag:
    grpc:
      server:
        endpoint: tcp://localhost:8888
    deployConfig: false
    amountOfLoopDevices: 3
    sizeOfLoopDevices: 101Mi

  # Sidecars parameters
  provisioner:
    image:
      # if you want to use topology feature (multiple PVCs per pod) you should use v1.2.2
      tag: v1.6.0

  resizer:
    image:
      tag: v1.1.0

  attacher:
    image:
      tag: v1.0.1

  nodeDriverRegistrar:
    image:
      tag: v1.0.1-gke.0

  # Metrics endpoint
  metrics:
    path: /metrics
    port: 8787

  # Logging settings
  log:
    format: text
    level: info

  logReceiver:
    fluentbitAgent:
      image:
        name:
        tag:

  alerts:
    deployConfig: false

# CSI Scheduler parameters
scheduler:

  enable: true

  image:
    name:
    tag:

  # Logging settings
  log:
    format: text
    level: info

  # Metrics endpoint
  metrics:
    path: /metrics
    port: 8787

  # Patcher settings
  patcher:
    enable: false

    image:
      name:
      tag:

    manifest: /etc/kubernetes/manifests/kube-scheduler.yaml
    source_config_path: config.yaml
    source_policy_path: policy.yaml
    target_config_path: /etc/kubernetes/scheduler/config.yaml
    target_policy_path: /etc/kubernetes/scheduler/policy.yaml
    interval: 60
    restore_on_shutdown: false
    config_map_name: schedulerpatcher-config

  # extender will be looking for volumes that should be provisioned
  # by storage class with provided provisioner name
  provisioner: csi-baremetal

# CSI Operator parameters
operator:

  enable: true

  image:
    name:
    tag:

  # Logging settings
  log:
    format: text
    level: info

  # Metrics endpoint
  metrics:
    path: /metrics
    port: 8787
