name: Release Charts

on:
  workflow_dispatch:
    inputs:
      csi_version:
        description: 'csi-baremetal-deployment release version'
        required: true
      csi_operator_version:
        description: 'csi-baremetal-operator release version'
        required: true
      release_tag:
        description: 'Release tag'
        required: true
      branch:
        description: 'Release branch name'
        required: true
      prerelease:
        description: 'Is it a prerelease'
        required: true
        type: boolean

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Determine target version commit
        id: target
        uses: jungwinter/split@v2
        with:
          msg: ${{ github.event.inputs.csi_operator_version }}
          separator: '.'

      - name: Set variables
        id: vars
        run: |
          echo "::set-output name=release_path::/tmp/${{ github.event.inputs.release_tag }}"
          echo "::set-output name=sha::${{ steps.target.outputs._3 }}"
          app_version=$(awk '{ sub(/.*v/, ""); sub(/-.*/, ""); print }' <<< ${{ github.event.inputs.release_tag }})
          echo "::set-output name=app_version::${app_version}"
          previous_tag=$(git tag --sort=-creatordate | cut --delimiter " " --fields 1)
          echo "::set-output name=previous_tag::${previous_tag}"

      - name: Install helm
        run: |
          if ! command -v helm &> /dev/null
          then
            curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
            chmod 700 get_helm.sh
            ./get_helm.sh
          fi

      - name: Install python3
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.0'

      - name: Install dependencies for YAML secure parsing
        run: |
          sudo apt install jq
          python -m pip install --upgrade pip
          pip install yq

      - name: Update csi-baremetal-operator image tag in values
        run: echo $(yq -i -y '.image.tag="${{ github.event.inputs.csi_operator_version }}"' ./charts/csi-baremetal-operator/values.yaml)

      - name: Update csi-baremetal-deployment image tag in values
        run: echo $(yq -i -y '.image.tag="${{ github.event.inputs.csi_version }}"' ./charts/csi-baremetal-deployment/values.yaml)

      - name: Tag release with annotation
        if: ${{ !env.ACT }}
        run: |
          TAG_NAME=${{ github.event.inputs.release_tag }}
          git tag -a -f $TAG_NAME ${{ steps.vars.outputs.sha }} -m "release $TAG_NAME"
          git push origin $TAG_NAME

      - name: Create csi-baremetal-operator asset
        id: asset_1
        run: |
          helm package ./charts/csi-baremetal-operator/ --version ${{ github.event.inputs.csi_operator_version }} --app-version ${{ steps.vars.outputs.app_version }}
          echo "::set-output name=archive_name::csi-baremetal-operator-${{ github.event.inputs.csi_operator_version }}.tgz"

      - name: Upload csi-baremetal-operator asset
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.asset_1.outputs.archive_name }}
          path: ${{ steps.asset_1.outputs.archive_name }}

      - name: Create csi-baremetal-deployment asset
        id: asset_2
        run: |
          helm package ./charts/csi-baremetal-deployment/ --version ${{ github.event.inputs.csi_operator_version }} --app-version ${{ steps.vars.outputs.app_version }}
          echo "::set-output name=archive_name::csi-baremetal-deployment-${{ github.event.inputs.csi_operator_version }}.tgz"

      - name: Upload csi-baremetal-deployment asset
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ steps.asset_2.outputs.archive_name }}
          path: ${{ steps.asset_2.outputs.archive_name }}

      - name: Generate changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v1
        with:
          token: ${{ secrets.CSI_WF_TOKEN }}
          fromTag: ${{ steps.vars.outputs.previous_tag }}
          toTag: ${{ github.event.inputs.release_tag }}
          configuration: "./.github/workflows/changelog_config.json"

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ github.event.inputs.release_tag }}
          target_commitish: ${{ github.event.inputs.branch }}
          name: Release ${{ github.event.inputs.release_tag }}
          body: ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: ${{ github.event.inputs.prerelease }}
          files: |
            ./${{ steps.asset_1.outputs.archive_name }}
            ./${{ steps.asset_2.outputs.archive_name }}

      - name: Checkout gh-pages
        uses: actions/checkout@v2
        with:
          ref: gh-pages

      - name: Download csi-baremetal-operator package
        if: ${{ !env.ACT }}
        uses: actions/download-artifact@v2
        with:
          name: ${{ steps.asset_1.outputs.archive_name }}

      - name: Download csi-baremetal-deployment package
        if: ${{ !env.ACT }}
        uses: actions/download-artifact@v2
        with:
          name: ${{ steps.asset_2.outputs.archive_name }}

      - name: Publish charts to gh-pages
        run: |
          echo `ls -Rl .`
          assets_url=https://github.com/${{ github.repository }}/releases/download/${{ github.event.inputs.release_tag }}
          helm repo index . --url ${assets_url} --merge docs/index.yaml
          mv ./index.yaml -f ./docs

      - name: Commit and push changes
        if: ${{ !env.ACT }}
        id: commit_docs
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update Helm repo index"
          commit_options: --signoff
          file_pattern: ./docs/index.yaml
          branch: gh-pages

      # - name: Send slack notification
      #   uses: rtCamp/action-slack-notify@v2
      #   env:
      #     SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      #     SLACK_CHANNEL: test-private-channel
      #     SLACK_COLOR: ${{ job.status }}
      #     SLACK_TITLE: 'Release ${{ github.event.inputs.release_tag }} is ready for review'
      #     SLACK_MESSAGE: 'Please review this PR: ${{ steps.pr.outputs.pull-request-url }}'
